@import "../../app.scss";

.navbar {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0px 40px;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    img {
      width: 30px;
      user-select: none;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      user-select: none;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
